* {
    border: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-weight: 400px;
    font-family: 'Quicksand', sans-serif;
}

.container {
    border: none;
    border-radius: 15px;
    background-color: white;
    width: 270px;
    margin: 10% auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text_box {
    padding: 12px;
    text-align: center;
}

img {
    width: 270px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

h1 {
    font-size: 20px;
    font-weight: 700px;
    margin-bottom: 10px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

p {
    font-size: 15px;
    font-weight: 400px;
    color: hsl(220, 15%, 55%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
}
